.airQualityWidgetContainer {

    width: 90%;
    min-height: 30%;
    padding: 1em;
    border-radius: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.airQualityLogo {
    height: 75%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.airQualityLogo img {
    height: 100%;
    width: 100%;
}

.airQualityContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.value {
    background-color: white;
    color: black;
    padding: 0.2em;
    border-radius: 0.35em;
};