.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0.5em 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    margin-bottom: 1.5em;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: rgb(209, 105, 109);
    color: white;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    font-size: 1.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.infos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventsWidgetContainer {
    width: 85%;
    min-height: 70%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventsTitle {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventsTitle h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.eventsList {
    height: 60%;
    width: 100%;
}