a.button{
    float: none;
    margin-left: 30%;
    position: fixed;
    font-size: 40px;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    transition: all 0.2s;
}

a.button:hover {
    color:#000000;
    background-color:#FFFFFF;
}