.container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 3em;
}

.leftColumn {
    width : 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.middleColumn {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 90%;
}

.rightColumn {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}