.container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 5em;
}

.leftColumn {
    width : 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.middleColumn {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 90%;
}

.rightColumn {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .container h1 {
        font-size: 3em;
    }

	.content {
        flex-direction: column;
        overflow: auto;
        padding-top: 3em;
    }

    .leftColumn {
        width: 75%;
        margin-bottom: 2em;
        order: -1;
    }

    .middleColumn {
        width: 75%;
        margin-bottom: 2em;
        height: 50vh;
        order: 2;
    }

    .rightColumn {
        width: 75%;
        height: 50vh;
        order: 1;
    }
}