.transportWidgetContainer {
    width: 90%;
    min-height: 90%;
    padding: 1em;
    border-radius: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: column;
}

.transportTitle {
    width: 100%;
    height: 15%;
    text-align: center;
}

.map {
    width: 100%;
    height: 60%;
    margin-bottom: 0.7em;
}

.advices {
    width: 100%;
    height: 25%;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    /* background-color: #E8E8E8; */
    background-color: #6382F5;
    color: white;
    border-radius: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.transport-logo {
    width: 34%;
    height: 72%;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.transport-logo img {
    width: 100%;
    height: 100%;
}

.direction {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

