.transportWidgetContainer {
    width: 90%;
    min-height: 90%;
    padding: 1em;
    border-radius: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: column;
}

.transportTitle {
    width: 100%;
    height: 15%;
    text-align: center;
}

.map {
    width: 100%;
    height: 60%;
}

.advices {
    width: 100%;
    height: 25%;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
}