@import "~fontsource-roboto/vietnamese-300-italic.css";

html {
    background-color: bisque;
    font-family: "Roboto";
}

#Title {
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px rgb(174, 180, 147), 1px 1px rgb(85, 85, 85), -3px 0 3px #000;
    padding:16px;
    font-weight:lighter;
    text-align:center;
    margin:16px;
}

#airQualityWidget {
    width: 100%;
    max-Width: 360px;
    padding: 20px;
    border-radius: 15px;
    margin: auto 40px;
    background-color: white;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    
}