@import "~fontsource-roboto/vietnamese-300-italic.css";

html {
    background-color: bisque;
    font-family: "Roboto";
}

#Title {
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px rgb(174, 180, 147), 1px 1px rgb(85, 85, 85), -3px 0 3px #000;
    padding:16px;
    font-weight:lighter;
    text-align:center;
    margin:16px;
}
