@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "~fontsource-roboto/vietnamese-300-italic.css";

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}