@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "~fontsource-roboto/vietnamese-300-italic.css";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}